<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
  
    <ion-title> More Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src="../assets/icon/films.jpeg" />
        <ion-card-header>
          <ion-card-subtitle>{{title}}</ion-card-subtitle>
          <!-- <ion-card-title>Madison, WI</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
{{description}}        </ion-card-content>
      </ion-card>
</ion-content>
