<ion-header>
  <ion-toolbar>
    <ion-title>
      WisdmLabs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="onSearchTerm($event)" placeholder="Search a film"></ion-searchbar>

   <div *ngIf="loaded">
        <ion-list *ngIf="isItemAvailable">
            <ion-list-header center><ion-label > FILMS</ion-label></ion-list-header>
        
         <ion-item *ngFor="let film of items" routerLink="/home-detail/{{film.id}}" routerDirection="forward">
            <ion-avatar slot="start">
                <img src="../assets/icon/favicon.png">
              </ion-avatar>
              <ion-label>
                <h3>
                Name : {{ film.title }}
                </h3>
                <p>
                Director :  {{ film.director }}
                </p>
                <p>
                 Release : {{ film.release_date }}
                </p>
              </ion-label>
      
          </ion-item>
      
      </ion-list>
       </div>
<div *ngIf="!loaded">
    
        <ion-list>
            <ion-list-header>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-list-header>
            <ion-item *ngFor="let item of [].constructor(20)">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
  
  </ion-list>
</div>
</ion-content>
